.container {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr;
  width: 50vw;

  div:first-child {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
  }
}
